@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/MULTIMEDIA/LOGIN.avif);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.div_container{
    width: 650px;
    background-color: transparent;
    color: #fff;
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 20px 25px;
    opacity: 0.68;
    transition: 0.4s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 600px 75px;
}

.div_container:hover{
    opacity: 1;
    box-shadow: 1px 1px 3px #808080;
}

.div_container h1{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.div_container .container{
    width: 100%;
    height: 45px;
    margin-bottom: 13px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div_container .container label{
    width: 45%;
    margin: 8px;
    margin-top: 23px;
    height: 100%;
    font-size: 20px;
    color: #fff;
}

.div_container .container input{
    width: 45%;
    margin: 8px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 15px;
    opacity: 0.45;
    transition: 0.5s ease;
    color: #fff;
    font-size: 20px;
}

.div_container .container input:hover{
    opacity: 1; 
}

.div_container .container input::placeholder{
    font-size: 23px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.div_container .div_btn{
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    opacity: 0.45;
    transition: 0.5s ease;
}

.div_container .div_btn:hover{
    opacity: 1;
}

.div_container .div_btn input{
    width: 60%;
    padding: 10px 20px;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #808080;
    transition: 0.5s ease;
    opacity: 0.9;
    font-size: 22px;
    font-weight: 550;
    background-color: transparent;
}

.div_container .div_btn input:hover{
    opacity: 0.8;
    color: #ff5080;
} 