body, html {
    height: 100%;
    margin: 0;
}

.Cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center; /*Esto centra el contenido de texto horizontalmente*/
}

.ques {
    padding-top: 25px;
}

.botones {
    display: flex;
    padding-top: 25px;
    gap: 50px;
    border: 0px;
    margin: 0px;
}

.form {
    display: flex;
    background-color: rgb(133, 126, 126);
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    overflow-y: scroll;
}

.acomo {
    display: flex;
    margin: 10px;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

