@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.cuerpo {
    border: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 623px;
    text-align: center; /*Esto centra el contenido de texto horizontalmente*/
    font-size: 30px;
}

.ques {
    padding-top: 30px;
}

.botones {
    display: flex;
    gap: 50px;
}


.forms{
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 480px;
    margin: 10px;
    margin-left: 10%;
    padding: 10px auto;
    background: #fff;
}


.cuerpo-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    column-gap: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

.label-form{
    display: flex;
    top: 10px;
    justify-content: center;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 60px;
}
